<div id="title">
    <div id="third-back"></div>
    <div id="book-type-qr-code"></div>
    <div id="qr-text">更多图书<br/>扫码阅读</div>
</div>

<div id="title-space"></div>
<!--<div id="back">返回</div>-->
<div id="title-btn">
    <div id="back" class="btn">返回</div>
    <div id="book-search" class="btn">首字母查找</div>
    <div id="book-class" class="btn">图书分类</div>
</div>
<!-- 滑动翻页容器 -->
<div id="type-content">

</div>
<div id="type-index">
</div>

<!--  图书分类 首字母查找浮层 -->
<div id="book-float-layout">
    <div id="book-class-detail"><div class="book-class-icon"></div><div class="type-name-btn type-name-btn-selected">rwwe</div><div class="type-name-btn">wer</div><div class="type-name-btn">wew</div><div class="type-name-btn"></div><div class="type-name-btn"></div></div>
    <div id="book-search-detail">
        <div class="book-search-icon"></div>
        <div id="letter-all" class="book-search-letter letter-selected">ALL</div>
        <div class="book-search-letter">A</div>
        <div class="book-search-letter">B</div>
        <div class="book-search-letter">C</div>
        <div class="book-search-letter">D</div>
        <div class="book-search-letter">E</div>
        <div class="book-search-letter">F</div>
        <div class="book-search-letter">G</div>
        <div class="book-search-letter">H</div>
        <div class="book-search-letter">I</div>
        <div class="book-search-letter">J</div>
        <div class="book-search-letter">K</div>
        <div class="book-search-letter">L</div>
        <div class="book-search-letter">M</div>
        <div class="book-search-letter">N</div>
        <div class="book-search-letter">O</div>
        <div class="book-search-letter">P</div>
        <div class="book-search-letter">Q</div>
        <div class="book-search-letter">R</div>
        <div class="book-search-letter">S</div>
        <div class="book-search-letter">T</div>
        <div class="book-search-letter">U</div>
        <div class="book-search-letter">V</div>
        <div class="book-search-letter">W</div>
        <div class="book-search-letter">X</div>
        <div class="book-search-letter">Y</div>
        <div class="book-search-letter">Z</div>



    </div>
</div>