<div id="title">
    <div id="third-back"></div>
    <div id="qr-code"></div>
    <div id="qr-text">更多图书<br/>扫码阅读</div>
</div>

<div id="title-space"></div>

<div id="banner">
    <!--<div style="height:100%; width:100%; background: red;" class="bannerImg">0</div>-->
    <!--<div style="height:100%; width:100%; background: yellow;" class="bannerImg">1</div>-->
    <!--<div style="height:100%; width:100%; background: green;" class="bannerImg">2</div>-->
</div>
<div id="banner-index">
    <!--<div class="banner-index-point banner-index-point-selected"></div>-->
    <!--<div class="banner-index-point"></div>-->
    <!--<div class="banner-index-point"></div>-->
</div>
<!--<div id="banner-index">-->
    <!-- -->
<!--</div>-->
<div id="book">书籍</div>
<div id="book-type" class="type">
    <div class="type-icon"></div>
</div>

<div id="newspaper">报纸</div>
<div id="newspaper-type" class="type">
    <div class="type-icon"></div>
</div>

<div id="journals">刊物</div>
<div id="journals-type" class="type">
    <div class="type-icon"></div>
</div>

<div id="recommend">
    <div id="recommend-book" class="recommend-thing">
        <div class="recommend-title">推荐书籍</div>
        <div class="recommend-content">
            <!--<div class="recommend-01"></div>-->
            <!--<div class="recommend-02"></div>-->
            <!--<div class="recommend-03"></div>-->
        </div>
        <div class="recommend-footer">
            <!--<div class="recommend-01-describe">-->
                <!--<div class="book-name">奇风岁月</div>-->
                <!--<div class="book-author">罗伯特·麦卡蒙</div>-->
            <!--</div>-->
            <!--<div class="recommend-02-describe">-->
                <!--<div class="book-name">奇风岁月</div>-->
                <!--<div class="book-author">罗伯特·麦卡蒙</div>-->
            <!--</div>-->
            <!--<div class="recommend-03-describe">-->
                <!--<div class="book-name">奇风岁月</div>-->
                <!--<div class="book-author">罗伯特·麦卡蒙</div>-->
            <!--</div>-->
        </div>
    </div>
    <div id="recommend-newspaper" class="recommend-thing">
        <div class="recommend-title">推荐报纸</div>
        <div class="recommend-content">
            <!--<div class="recommend-01"></div>-->
            <!--<div class="recommend-02"></div>-->
            <!--<div class="recommend-03"></div>-->
        </div>
        <div class="recommend-footer">
            <!--<div class="recommend-01-describe">-->
                <!--<div class="book-name">奇风岁月</div>-->
                <!--<div class="book-author">罗伯特·麦卡蒙</div>-->
            <!--</div>-->
            <!--<div class="recommend-02-describe">-->
                <!--<div class="book-name">奇风岁月</div>-->
                <!--<div class="book-author">罗伯特·麦卡蒙</div>-->
            <!--</div>-->
            <!--<div class="recommend-03-describe">-->
                <!--<div class="book-name">奇风岁月</div>-->
                <!--<div class="book-author">罗伯特·麦卡蒙</div>-->
            <!--</div>-->
        </div>
    </div>
    <div id="recommend-journals" class="recommend-thing">
        <div class="recommend-title">推荐刊物</div>
        <div class="recommend-content">
            <!--<div class="recommend-01"></div>-->
            <!--<div class="recommend-02"></div>-->
            <!--<div class="recommend-03"></div>-->
        </div>
        <div class="recommend-footer">
            <!--<div class="recommend-01-describe">-->
                <!--<div class="book-name">奇风岁月</div>-->
                <!--<div class="book-author">罗伯特·麦卡蒙</div>-->
            <!--</div>-->
            <!--<div class="recommend-02-describe">-->
                <!--<div class="book-name">奇风岁月</div>-->
                <!--<div class="book-author">罗伯特·麦卡蒙</div>-->
            <!--</div>-->
            <!--<div class="recommend-03-describe">-->
                <!--<div class="book-name">奇风岁月</div>-->
                <!--<div class="book-author">罗伯特·麦卡蒙</div>-->
            <!--</div>-->
        </div>
    </div>
</div>